body {
    background-color: #CDD6D0;
}

section {
    margin: 0 auto;
    text-align: center;
    background-color: #FDFFFC;
    border-style: inset;
    max-width: 85%;
    padding-top: 20px;
}

h3 {
    background-color: #FDFFFC;
    display: inline-flex;
    margin-top: 2px;
}

.whiteBox {
    margin: 0% auto;
    text-align: center;
    background-color: #FDFFFC;
    margin-top: 10px;
    border-style: inset;
    max-width: 40%;
}

.whiteBoxHolder {
    text-align: center;
    background-color: #FDFFFC;
    float: left;
    margin-top: 10px;
    border-style: inset;
    min-width: 100%;
    min-height: 195px;
}


img:hover {
    transform: scale(1.03);
    transition: 0.3s;
}