body {
    background-color: #CDD6D0;
}

section {
    text-align: center;
    background-color: #FDFFFC;
}

h3 {
    background-color: #FDFFFC;
    display: inline-flex;
    margin-top: 2px;
}

.whiteBox {
    text-align: center;
    background-color: #FDFFFC;
    float: left;
}

